<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
 
    <h1>회원가입</h1>
    <form action="/signup" method="POST">
        <input name="id" type="text" placeholder="아이디">
        <input name="password" type="password" placeholder="비밀번호">
        <input name="password-check" type="password" placeholder="비밀번호 확인">
        <input name="nickname" type="text" placeholder="닉네임">
        <input type="submit" value="제출하기" >
    </form>

</body>
</html>